Django>=3.0,<4.0
psycopg2>=2.8
djangorestframework
django-cors-headers
matplotlib~=3.6.3
seaborn~=0.12.2
numpy~=1.23.5
setuptools~=67.1.0
scipy~=1.10.0
pybind11~=2.10.3
scikit-learn~=1.2.1
librosa~=0.10.0
audiotsm~=0.1.2
pandas~=1.5.3
tqdm~=4.64.1
mpltex~=0.7
pytube~=15.0.0
allin1~=1.0.3
tslearn~=0.6.2
pygame~=2.5.2
gammatone~=1.0.1
music21
chord-extractor
musicpy